body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
  body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }

  /* Create a Parallax Effect */
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url('https://i.imgur.com/07pIVCP.jpg');
    min-height: 700px;
  }

  /* First image (Logo. Full height) */
  .bgimg-2 {
    background-image: url('https://i.imgur.com/k3YUmdj.jpg');
    min-height: 100px;
  }

  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url("https://i.imgur.com/R1gCfqZ.jpg");
    min-height: 100px;
  }

  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }

  .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

  @media (min-width: 576px){

    .jumbotron {
        padding: 2.5rem  1rem;
        margin-bottom: 2rem;
        background-color: #000000;
        border-radius: .3rem;
        height: 180px;
    }

    div {
        display: block;
    }

    }


    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #555;
      outline: none;
    }
    
    input[type=text]:focus {
      background-color: lightblue;
    }