<!DOCTYPE html>

<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
    <meta charset="utf-8">
    <meta name="author" content="Shafira Ishlah Nurulita">
    <meta name="Description" content="Shafira Ishlah Nurulita's Resume">
    <meta name="Keywords" content="shafiraishlahnurulita, resume">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <script src="./libraries/baffle.min.js" type="text/javascript"></script>
    <script src="./libraries/scrollreveal.js" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/sxrjztb.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <!-- NAVBAR -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#home" class="w3-bar-item w3-button">HOME</a>
            <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>PROFILE</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
            <i class="fa fa-search"></i>
            </a>
        </div>

        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
            <a href="#" class="w3-bar-item w3-button">SEARCH</a>
        </div>
    </div> <!--Tutup div navbar-->

    <!-- Parallax Nama -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SHAFIRA <span class="w3-hide-small">ISHLAH</span> NURULITA</span>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- Container (About Section) -->
    <div class="w3-row w3-center w3-brown w3-padding-16">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge"></span><br>
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge"></span><br>
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge"></span><br>
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge"></span><br>
        </div>
    </div>

    <div class="bgimg-2 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-white w3-wide">ABOUT ME</span>
        </div>
    </div>

    <div class="w3-content w3-container w3-padding-64" id="about">
        <br>
        <h1 class="w3-center">Shafira Ishlah Nurulita</h1>
        <p class="w3-center"><em>I love Art</em></p>
        <p align="center">I'm Shais. A computer science student that loves arts and passionate in doing something new and challenging. A collaborative worker, and work well in situations that expose me to a group of people with diverse backgrounds and concepts of creativity.</p>

        <!-- Nama dan Foto Pribadi -->
        <div class="w3-row">
            <center>
                <h2><b><i class="fa fa-user w3-margin-right"></i>Shais</b></h2>
                <img src="https://i.imgur.com/ZiDU34d.jpg" class="w3-round w3-image w3-hover-grayscale w3-border" alt="Photo of Me" width="500" height="333">
            </center>
        </div>

        <br>
        <br>
        <!-- Pendidikan, Experience, Interest -->
        <div class="container-fluid">
            <div class="row">
                <!-- Pendidikan -->
                <div class="col-sm-4">
                    <div class="w3-container w3-card w3-white w3-margin-bottom" >
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-mortar-board fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>EDUCATION</h2>
                        <br>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Computer Science, University of Indonesia</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2017 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Science major, 33 Senior High School</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2014 - July 2017</h6>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>204 Junior High School</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2011 - July 2014</h6>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>11 Elementary School</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2005 - July 2011</h6>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>

                <!-- Pengalaman -->
                <div class="col-sm-4">
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Experience</h2>
                        <br>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>UI Fashion Week</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
                            <p>Decoration Staff</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>PMB Fasikom UI</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018-2018</h6>
                            <p>Academic Staff</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>DPM Fasilkom UI</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018-2018</h6>
                            <p>Human Resource Staff</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Compfest X</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018-2018</h6>
                            <p>Decoration and Costume Staff</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Computer Science League</b></h5>
                            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017-2018</h6>
                            <p>Official Staff</p><br>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>

                <!-- Ketertarikan -->
                <div class="col-sm-4">
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-gamepad fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Interest</h2>
                        <br>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Food</b></h5>
                            <ul style="list-style-type:circle">
                                <li>fettuccine carbonara</li>
                                <li>Ice Cream</li>
                                <li>Cream Soup</li>
                            </ul>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Sport</b></h5>
                            <ul style="list-style-type:circle">
                                <li>Basketball</li>
                                <li>Pilates</li>
                                <li>Dancesport</li>
                            </ul>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Art</b></h5>
                            <ul style="list-style-type:circle">
                                <li>Music</li>
                                <li>Room Decoration</li>
                            </ul>
                        </div>
                        <br>
                    </div>
                </div><br>
            </div> <!-- Tutup Row -->
        </div> <!-- Tutup Container -->
    </div>

<div class="w3-row" style="padding-left: 10px; padding-right: 10px;">
    <!-- Skill Persentase -->
    <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
    <p class="w3-wide"><i class="fa fa-book"></i>English</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-book"></i>Indonesian</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-book"></i>Chinese</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:30%">30%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-book"></i>Japanese</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:20%">20%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-microphone"></i>Public Speaking</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-code"></i>HTML</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-code"></i>Javascript</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-code"></i>Java</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-code"></i>Phyton</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-code"></i>C</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:30%">30%</div>
    </div>
</div>
</div>
<br>
<br>

<!-- Kotak tanggal, bulan, tahun lahir -->
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">Birth</span><br>
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">05</span><br>
        Date
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">01</span><br>
        Month
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">2000</span><br>
        Year
    </div>
</div>

<!-- Container (Contact Section) -->
<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
    </div>
</div>

<div class="w3-content w3-container w3-padding-64" id="contact">
    <p class="w3-center"><em>I'd love your feedback!</em></p>
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m4 w3-container">
            <br>
            <br>
            <img src="https://i.imgur.com/nxDy5AL.jpg" class="w3-image w3-round" style="width:300px">
        </div>
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Jakarta, Indonesia<br>
                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Line : shafiraishlah05<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Email: shafiraishlah51@gmail.com<br>
            </div>
            <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a feedback</p>

            <!-- Form untuk comment
            <form id = "" method="POST" >
                {% csrf_token %}
                {{formtesti.as_p}}
                <div>
                    <strong><label class = "text">{{field.label}}</label></strong>{{field}}
                </div>
                <div class = "submit-btn" style="align-items: center">
                    <input type = "submit" value="Submit">
                    <br>
                    <br>
                </div> -->
            </form>
        </div>
    </div>

    <!-- <section class = "result">
        <div>
            {% for i in komen  %}
            <div style="margin: 5%;background-color: whitesmoke;padding-top: 3%;padding-bottom: 3%;padding-left: 2%;text-align: center">{{i.Comment}}</div>
            {% endfor %}
        </div> -->
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
        <!-- Facebook -->
        <a href="https://www.facebook.com/shafira.ishlah.nurulita">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>

        <!-- Instagram -->
        <a href="https://www.instagram.com/shafiraishlah51/">
            <i class="fa fa-instagram w3-hover-opacity"></i>

        <!-- Pinterest -->
        <a href="https://id.pinterest.com/shafiraishlah/">
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>

        <!-- Twitter -->
        <a href="https://twitter.com/shafiraishlah05">
            <i class="fa fa-twitter w3-hover-opacity"></i>

        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/shafiraishlah/">
            <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>

<script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
      } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
      }
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>
